body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    background-color: hsl(38, 100%, 65%);
}

header {
    background-color: #000;
    color: #fff;
    text-align: center;
    padding: 20px 0;
    overflow: hidden;
}

header img {
    width: 100%;
    height: 250px;
    object-fit: cover;
}

.quienes-somos {
    padding: 20px;
    text-align: center;
}

.quienes-somos h2 {
    font-size: 24px;
    margin-bottom: 20px;
}

.quienes-somos p {
    font-size: 16px;
    line-height: 1.5;
}

.imagenes-cervezas {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 20px;
}

.imagenes-cervezas img {
    width: 250px;
    height: auto;
    margin: 10px;
    border: 1px solid #ccc;
}

.productos {
    padding: 20px;
}

.productos h2 {
    font-size: 24px;
    margin-bottom: 20px;
}

.producto {
    background: #000
}

.multimedia h1 {
    display: flex;
    justify-content: center; /* Alinea los elementos horizontalmente en el centro */
    align-items: center; /* Alinea los elementos verticalmente en el centro (opcional) */
}

.social-media-icon {
    display: flex;
    padding: 1%;
    justify-content: center;
    align-items: center; 
}
.social-media-icon img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin: 30px;
    background-color: #fff; 
}
